body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Adjust height as needed */
    width: 20%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    overflow-y: auto; /* Enable scrolling if content exceeds sidebar height */
    z-index: 100; /* Ensure sidebar is above other content */
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.content {
    margin-left: 20%; /* Adjust to match sidebar width */
    padding: 20px;
    background-color: #fff;
    transition: margin-left 0.3s ease; /* Smooth transition for margin */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar, .content {
        width: 100%;
        margin-left: 0; /* Remove margin for smaller screens */
    }
}

/* Topic styles */
.topic {
    margin-bottom: 20px;
}

.topic h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.topic h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #555;
}

pre {
    background-color: #282c34;
    color: #abb2bf;
    padding: 15px;
    border-radius: 5px;
    overflow: auto;
    font-family: 'SilkScreen', monospace;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

code {
    display: block;
    white-space: pre;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin: 5px 0;
}

.sidebar nav ul li.active {
    background-color: #555; /* Adjust active sidebar item background */
}

.navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.navigation button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navigation button:hover {
    background-color: #555;
}

